source https://www.nuget.org/api/v2

nuget BCrypt.Net-Next
nuget Chessie
nuget DotLiquid
nuget FAKE
nuget suave
nuget Suave.DotLiquid
nuget Suave.Experimental
// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target

group Database
source https://www.nuget.org/api/v2

nuget FluentMigrator
nuget FluentMigrator.Console
nuget Npgsql