source https://www.nuget.org/api/v2

nuget BCrypt.Net-Next
nuget Chessie
nuget Chiron
nuget DotLiquid
nuget FAKE
nuget Logary
nuget NodaTime 1.3.2
nuget Postmark
nuget stream-net
nuget suave
nuget Suave.DotLiquid
nuget Suave.Experimental
// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target

group Database
source https://www.nuget.org/api/v2

nuget FluentMigrator
nuget FluentMigrator.Console
nuget Npgsql.EntityFrameworkCore.PostgreSQL